body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    margin: 0;
}

.top-container,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8
}

.hero-container {
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
    text-decoration: none;
}

.inline {
    display: inline;
}

.header-links {
    display: inline;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.second-container-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center; 
    padding: 25px;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;
}

.second-container img {
    width: 100px;
    height: 100px;
}

.info {
    max-width: 100px;
    padding: 25px;
}


.third-container {
    background: #E5E7EB;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 20px;
}

.call-to-action-sub-container {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 50px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.hero-sign-up {
    border-style: none;
}

.button-sign-up {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}


.inspiring-quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.inspring-quote-signature {
    font-style: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    display: flex;
    color: #E5E7EB;
    justify-content: start;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}